#first-heading {
    color: red;
    font-size: 30px;
}

.second-heading {
    color: black;
    font-size: 25px;
}

 .box {
            width: 100%;
            height: 200px;
            background: rgb(237, 114, 6);
            content: "Xin chao cac ban";
        }
    